{% extends "bootstrap/base.html" %}

{% block title %}CZ's Blog{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='blog/favicon.ico') }}">
{% endblock head %}


{% block content %}
    <h1>my blog</h1>
    {% block page_content %}{% endblock %}

    <footer>
        <p><small>As English is my second language, if you find any problem in this site, please Email <a href="mailto:hn100hn@hotmail.com">hn100hn@hotmail.com</a> to help me. </small></p>
    </footer>
{% endblock %}