{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "xtu/_macros.html" as macros %}

{% block title %}XTU 308{% endblock %}

{% block page_content %}


    <div style="background-color: #97CBFF" class="jumbotron">
        <div class="container">
            <div>
                <h1>欢迎来到 IIECON</h1>
                <p>湘潭大学商学院 308 办公室博客群，一个交流经济学思想，分享生活点滴的地方。</p>
                <br>
                <div>
                    <p>{{ greetingMessage["text"] }}</p>
                    <p><small><i style="text-align: center">{{ greetingMessage["author"] }}</i></small></p>
                </div>
            </div>
        </div>
        
    </div>

<div class="container">
    




    
    <div class="container col-md-8">
        {% include "xtu/_posts.html" %}
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, ".index") }}
        </div>
        {% endif %}
    </div>
    {% if current_user.is_authenticated() %}
    <div class="container col-md-3 col-md-offset-1">
        <a class="btn btn-danger" href="{{ url_for('.newpost') }}">发布文章</a>
    </div>
    {% endif %}
</div>

{% endblock %}



