{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "xtu/_macros.html" as macros %}

{% block title %}XTU 308{% endblock %}

{% block page_content %}


    <div style="background-color: #97CBFF" class="jumbotron">
        <div class="container">
            <div>
                {% if current_user.is_authenticated() %}
                <p>Hi, {{ current_user.username }} !</p>
                {% endif %}
                <h1>欢迎来到 IIECON</h1>
                <p>湘潭大学商学院 308 研究所博客群，一个交流经济学思想，分享生活点滴的地方。</p>
                <br>
                <div>
                    <p>{{ greetingMessage["text"] }}</p>
                    <p><small><i style="text-align: center">{{ greetingMessage["author"] }}</i></small></p>
                </div>
            </div>
        </div>
        
    </div>

<div class="container">
    




    
    <div class="container col-md-8">
        {% include "xtu/_posts.html" %}
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, ".index") }}
        </div>
        {% endif %}
    </div>
    {% if current_user.is_authenticated() %}
    <div class="container col-md-3 col-md-offset-1">
        <a class="btn btn-danger" href="{{ url_for('.newpost') }}">发布文章</a>
        <br/>
        <br>
        <p>为保证浏览体验，网站推荐使用 Firefox 或 Chrome 浏览器，或者将其他浏览器更新到最新版本，以避免兼容性问题。</p>
    </div>
    {% endif %}
</div>

{% endblock %}



